aldryn-faq
ansible
bpython
buildozer
Cactus
ChatterBot
cider
clint
cookiecutter
coverage
Django
django-allauth
django-braces
django-celery
django-cms
django-compressor
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-floppyforms
django-fluent-comments
django-fluent-pages
django-grappelli
django-hvad
django-linguist
django-manager-utils
django-model-utils
django-modeltranslation
django-mptt
django-oscar
django-page-cms
django-parler
django-phonenumber-field
django-pipeline
django-post_office
django-rest-auth
django-reversion
django-reversion-compare
django-rosetta
django-storages-redux
django-suit
django-tables2
django-taggit
django-tagulous
django-test-plus
django-viewflow
django-watson
elpy
envoy
Eve
fabtools
flake8
Flask
flower
furl
gunicorn
hiredis
hitchtest
httpie
invoke
ipdb
jieba
jsonfield
jupyter
Keras
keyring
maildump
Mercurial
mitmproxy
money
mongoengine
motor
networkx
Nikola
numpy
passpie
pdbpp
pelican
peru
pgcli
Pillow
pinggraph
pip
pip-tools
pipreqs
piprot
plumbum
pre-commit
proselint
psycopg2
ptpython
pudb
purl
pylama
pyquery
pytest
python-dateutil
python-social-auth
python-usernames
salt
schedule
scikit-learn
Scrapy
sentry
Sphinx
sphinx-autobuild
SQLAlchemy
sympy
thefuck
Tinkerer
tmuxp
unicodecsv
virtualenvwrapper
wagtail
Weblate
whitenoise
xonsh
youtube-dl
